.cards {
  margin:50px 0;
}

.card__title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card__content > * {
  margin-bottom: 1rem !important;
}

.infected {
  border-bottom: 1.5rem solid var(--color-infected);
}

.recovered {
  border-bottom: 1.5rem solid var(--color-recovered);
}

.deaths {
  border-bottom: 1.5rem solid var(--color-deaths);
}
